#navbar {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: #cccc; */
  top: 0;
  background: black;
  color: white;
  position: fixed;
  margin-bottom: 100px;
  z-index:10;
}

.logo-section {
  height: 70;
  width: 30%;
  display: flex;
  align-items: center;
}

.search-section {
  height: 70px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-section input {
  width: 100%;
  border-radius: 10px;
}

.cart-section {
  height: 70px;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-section span i {
  font-size: 25px;
  cursor: pointer;
}

.cart-section span button {
  background-color: rgba(255,28,28);
  border: none;
  height: 22px;
  width: 80px;
  border-radius: 5px;
}

#footer {
  height: 200px;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}

.links-section {
  height: 200px;
  width: 30%;
  /* border: 1px solid green;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-section {
  height: 200px;
  width: 30%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-section {
  height: 250px;
  width: 30%;
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  height: 100px;
  width: 150px;
  /* border:1px solid aqua; */
}

ul li {
  list-style: none;
  margin: 5px;
}

ul li a {
  text-decoration: none;
  color: white;
}
.media-icons {
  /* border: 1px solid red; */
  height: 50px;
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.media-icons span i {
  font-size: 25px;
  flex-wrap: wrap;
  margin-left: 40px;
}
/*cart styling */
#main-content {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;

  gap: 13px;
  margin-top: 13px;
}

.product-card {
  height: 300px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  transition: transform 0.3s;
  cursor: pointer;
}
.product-card:hover {
  transform: translateY(-10px);
}
.product-card img {
  height: 150px;
  width: 150px;
}
.price-rating {
  width: 200px;
  
  display: flex;
  justify-content: space-between;
}
.price-rating span {
  height: inherit;
  width: 60px;
  background-color: green;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.price-rating span i {
  color: yellow;
}
.product-card button {
  height: 40px;
  width: 110px;
  border-color: rgb(11, 4, 84);
  border: none;
  margin-top: 10px;
  border-radius: 4px;
  color: blue;
  cursor: pointer;
}